<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>grassland.png</key>
            <dict>
                <key>frame</key>
                <string>{{2032,2},{2048,758}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2048,758}}</string>
                <key>sourceSize</key>
                <string>{2048,758}</string>
            </dict>
            <key>sky.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{2028,812}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2028,812}}</string>
                <key>sourceSize</key>
                <string>{2028,812}</string>
            </dict>
            <key>trailer_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{2598,762},{445,211}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{445,211}}</string>
                <key>sourceSize</key>
                <string>{445,211}</string>
            </dict>
            <key>trailing_container.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,816},{486,198}}</string>
                <key>offset</key>
                <string>{9,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,5},{486,198}}</string>
                <key>sourceSize</key>
                <string>{564,242}</string>
            </dict>
            <key>trailing_plat.png</key>
            <dict>
                <key>frame</key>
                <string>{{2032,762},{564,222}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{564,222}}</string>
                <key>sourceSize</key>
                <string>{564,242}</string>
            </dict>
            <key>wheel.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,816},{101,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,89}}</string>
                <key>sourceSize</key>
                <string>{101,89}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>GameSprite-ipadhd.pvr.ccz</string>
            <key>size</key>
            <string>{4096,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d07d65ca53f617affb977aa78a961ae9$</string>
            <key>textureFileName</key>
            <string>GameSprite-ipadhd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
