<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>MainSceneBackground.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{376,504}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{376,504}}</string>
                <key>sourceSize</key>
                <string>{384,512}</string>
            </dict>
            <key>MainSceneBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,230},{149,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,48}}</string>
                <key>sourceSize</key>
                <string>{149,48}</string>
            </dict>
            <key>MenuCar.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,2},{226,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,113}}</string>
                <key>sourceSize</key>
                <string>{226,113}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>MainSceneImage.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1e39b4de17ba903bcb0aaa04818bc596$</string>
            <key>textureFileName</key>
            <string>MainSceneImage.pvr.ccz</string>
        </dict>
    </dict>
</plist>
